html { 
  background: url(topimage.jpg) fixed; 
  background-repeat : no-repeat;
  background-size: cover;
}

.circle {box-shadow: 0px 16px 32px 10px rgba(0,0,0,0.5);
  border-radius: 50%;

}

.bottom{
    position: fixed;
float: bottom;
bottom:0 ;
left:8 ;
color:white;}


.right{
	position:absolute;
bottom:88.1% ;
left:80% ;
color:black;}
	
.rtext{
		color:white;
		float:right;
    font-size: 15px;
	margin-right:25px;
	margin-top:12px;}

#signup_button{
background-color:#349ed3;
color:white;
border:0;}

.btncolor{background-color:#349ed3;border:0;}
.btncolor:hover {background-color:green;border:0;}

.left{
	color:black;
	margin-top:-25px;
	margin-bottom:10px;
	width:18%;
	height:100%;
	float: left;
	text-align:center;
	padding:5px;
	border:0;
	font-size:20px;
font-weight:bold;}

#left{
    position: fixed;
	width:20%;
	height:auto;
	background-color:white;
	text-align:center;
	padding:5px;
	border-radius:10px;
	opacity:0.8;
     box-shadow: 0px 32px 64px 0px rgba(0,0,0,10);
    }

.rightbox{
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,1);
    background-color:white;
	color:black;
	margin-top:0px;
	margin-right:20px;
    width:75%;
    height:100%;
	text-align:center;
	padding:5px;
	border:0;
	border-radius:10px;
	font-size:20px;
	opacity:0.9;
font-weight:bold;
float: right;}	





.dropbtn {
    color: white;
	background-color:#191a44;
    padding:8px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;	
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,1);
    z-index: 5;
	
}


.dropdown-content a {
    color: white;
    padding: 3px 4px;
    text-decoration:none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #191a44}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

a:link{
    text-decoration: none;
}
a:hover{
    color:cornsilk;
}




.sticky1 {
  position: fixed;
  top: 0;
    margin-right:50%;
  width: 103%;
 padding-top: 0px;
    z-index: 4;
    margin-left: -10;
}

.dropbar{
    width: 103%;
    background-color:#191a44;
margin-left: -10;
    box-shadow: 0px 16px 32px 5px rgba(0,0,0,0.5);
  }


